@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    position: relative;
    // color: gray;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: space-between;
    padding: 0 5%;

    div:first-child {
        display: flex;
        align-items: center;
        color: white;
    }

    div:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            display: inline-block;
            padding: 0 0 0 40px;
            color: white;
            text-decoration: none;
            opacity: 50%;
            &:hover {
                opacity: 100%;
            }
        }
    }
}

.container {
    height: 100vh;
}

.mine {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 40px;
    padding: 10px;

}

.home {
    align-items: flex-start;
    padding-left: 10%;
    background-color: black;
    color: white;
}

.about {
    background-color: white;
    color: black;
}


.projects {
    background-color: black;
    color: white;
}