:root {
    --border-radius: 0.25rem;
}

nav {
    ul:nth-child(1) {
        a {
            padding: 1px;
            b {
                font-size: 1.5rem;
            }
        }
    }
}


.headings-reversed {
    margin-bottom: 3rem;
    > * {
        padding: 0;
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 800;
    }
    p {
        font-weight: 300;
        font-size: 1.1rem;
    }
}

.text {
    &-center {
        text-align: center; 
    }
    &-end {
        text-align: right;
    }
}

.full {
    &-vh {
        height: 100vh;
    }
}

.h {
    &-80vh {
        height: 90vh;
    }
}


section {
    margin-bottom: 6rem;
}

.section-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

    span {
        color: rgba(255, 255, 255, 0.274);
    }

    p:nth-child(2) {
        margin-top: 1rem;
        font-weight: 300;
        font-size: 1.1rem;
    }
}

.border-left {
    border-left: 1px solid white;
}





//margins, padding
$step: 0.5rem;
@for $i from 0 to 6 {
    .m-#{$i} {
        margin: $i * $step;
    }
    .p-#{$i} {
        padding: $i * $step;
    }

    $positions: (
        "t":"top", 
        "r":"right", 
        "b":"bottom", 
        "l":"left"
    );
    @each $sym, $position in $positions {
        .m#{$sym}-#{$i} {
            margin-#{$position}: $i * $step;
        }
        .p-#{$i} {
            padding-#{$position}: $i * $step;
        }
    }
}
//end margins, padding



//text
$alignments: "left","right","center";
@each $align in $alignments {
    .text-#{$align} {
        text-align: $align;
    }
}

//text end


//font
$font-weights: 300, 400, 500, 600, 700, 800;
@each $weight in $font-weights {
    .fw-#{$weight} {
        font-weight: $weight;
    }
}

//end font